@font-face {
  font-family: Static;
  src: url(../fuentes/fstatic/SmoochSans-VariableFont_wght.ttf);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#contenedor{
    width: 100%;
    height: 250vh;
    background-color: #f75353;
    overflow: hidden
}
/*Contenedor superior*/

#nav-principal{
  position: fixed;
    width: 100%;
    height: 12vh;
    background-color: aqua;
    float: left;
  }
  
  /*Contenedor superior superior*/
  #nav-superior{
    float: left;
    width: 100%;
    height: 55%;
    background-color: white;
    
  }
  /*Contenedor superior inferior*/
  #nav-inferior{
    float: left;
    width: 100%;
    height: 50%;
    background-color: rgb(156, 147, 147);
  }
  /*Logo toyora*/
  #logo-toyota{
    float: left;
    width: 4.5em;
    height: 2.9em;
    margin-left: 1%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/PaginaPrincipal/imagenes/logo-toyota.svg);
  }
  #info{
    float: right;
    width: 20em;
    height: 2em;
    margin-top: 1%;
  }
  
  #icono-busqueda{
    float: left;
    width: 1.8em;
    height: 1.8em;
    margin-left: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/PaginaPrincipal/imagenes/busqueda-de-lupa.png);
  }
  #icono-eu{
    float: left;
    width: 5em;
    height: 1.8em;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/PaginaPrincipal/imagenes/logo-olympics.png);
  }
  #icono-perfil{
    float: left;
    width: 1.8em;
    height: 1.8em;
    margin-left: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/PaginaPrincipal/imagenes/perfil.png);
  }

/*Menu desplegable*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


.navMenu {
  float: left; 
  margin-top: 1.5%;
  margin-left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  display: inline-block;
  width: 40%;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #f75353;
}
#caja1{
    float: left;
    width: 100%;
    height: 50vh;
    background-color: aliceblue;
}
#cajaTexto1{
  float: left;
  border-radius: 1em;
  margin-left: 5em;
  padding: 3em;
  width: 40em;
  margin-top: 8em;
  height: 20em;
  background-color: #f75353;
}
#p1{
  font-size: 150%;
  font-family: Static;
}
#cajaImagen1{
  float: right;
  border-radius: 1em;
  width: 35em;
  margin-top: 8em;
  height: 20em;
  margin-right: 7em;
  background-size: 100% 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../imagenes/hilux-4th-001.jpg);
  background-color: #f75353;
}

#caja2{
  float: left;
  width: 100%;
  height: 50vh;
  background-color: rgb(31, 106, 172);
}
#cajaTexto2{
  float: right;
  border-radius: 1em;
  margin-right: 5%;
  padding: 2%;
  width: 40em;
  margin-top: 5%;
  height: 20em;
  background-color: #f75353;
}
#p2{
  font-size: 150%;
  font-family: Static;
}
#cajaImagen2{
  float: left;
  border-radius: 1em;
  width: 35em;
  margin-top: 5%;
  height: 20em;
  margin-left: 7%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../imagenes/102761.jpg);
}
#caja3{
  float: left;
  width: 100%;
  height: 50vh;
  background-color: rgb(11, 22, 32);
}
#cajaTexto3{
  float: left;
  border-radius: 1em;
  margin-left: 5%;
  padding: 3%;
  width: 40em;
  margin-top: 4%;
  height: 20em;
  background-color: #f75353;
}
#p3{
  font-size: 150%;
  font-family: Static;
}
#cajaImagen3{
  float: right;
  border-radius: 1em;
  width: 25em;
  margin-top: 2%;
  height: 25em;
  margin-right: 8%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../imagenes/220px-Kiichiro_Toyoda.jpg);
  background-color: #f75353;
}
#caja4{
  float: left;
  width: 100%;
  height: 50vh;
  background-color: rgb(11, 32, 14);
}
#cajaTexto4{
  float: right;
  border-radius: 1em;
  margin-right: 5%;
  padding: 2%;
  width: 40em;
  margin-top: 4%;
  height: 20em;
  background-color: #f75353;
}
#p4{
  font-size: 170%;
  font-family: Static;
}
#cajaImagen4{
  float: left;
  border-radius: 1em;
  width: 35em;
  margin-top: 4%;
  height: 20em;
  margin-left: 7%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../imagenes/toyota-production-system-lean.jpg);
}
#caja5{
  float: left;
  width: 100%;
  height: 50vh;
  background-color: rgb(211, 224, 213);
}
#cajaTexto5{
  float: left;
  border-radius: 1em;
  margin-left: 5%;
  padding: 3%;
  width: 40em;
  margin-top: 4%;
  height: 20em;
  background-color: #f75353;
}
#p5{
  font-size: 125%;
  font-family: Static;
}
#cajaImagen5{
  float: left;
  border-radius: 1em;
  width: 35em;
  margin-top: 4%;
  height: 20em;
  margin-left: 7%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../imagenes/580b57fcd9996e24bc43c4a3.png);
}

